* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}
html {
	scroll-behavior: smooth;
}
.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
	background: #fff;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style: none;
}
nav ul li {
	display: inline-block;
	margin-right: 20px;	
}
.active {
	color: red;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: black;
	font-size:20px;
}
p {
	color: black;
}
ul li a:hover {
	color: red;
}
li.dropdown {
	display: inline-block;
}
.dropdown:hover .isi-dropdown {
	display: block;
}
.isi-dropdown {
	position: absolute;
	display: none;
	z-index: 1;
	text-align: left;
	padding: 5px;
}
.isi-dropdown a{
	color: black !important;
	text-align: left;
	margin-top: 5px;
	font-size:16px;
}
.isi-dropdown a:hover {
	color: red !important;
}
.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2 {
	flex-basis: 50%;
	min-width:300px;
}
.col-2 img {
	max-width: 100%;
	padding:50px 0;
}
.col-2 h1 {
	font-size: 50px;
	margin: 25px 0;

}
.btn {
	display: inline-block;
	background-color: red;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn2{
	display: inline-block;
	background-color: #e60000;
	color: #fff;
	padding: 8px 30px;
	border-radius: 30px;
	transition: background 0.5s;

}
.btn:hover {
	background:#b30000;
}
.btn2:hover {
	background:#b30000;
}
.header.row {
	margin-top: 70px;

}
.small-container {
	max-width: 1080px;
	margin: auto;
	margin-top: 70px;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img {
	width: 100%;
}
.title {
	text-align: left;
	margin: 0 auto 30px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after {
	content: '';
	background: red;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 4%;
	transform: translateX(-50%);

}
h4 {
	color: #555;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;

}
.rating .fa {
	color: red;
}
.col-4:hover {
	transform: translateY(-5px);

}

.offer{
	background: radial-gradient(#fff,#ffebe6);
	margin-top: 80px;
	padding: 30px 0;
}
.col-2 .offer-img {
	padding: 50px;
}
.col-2 a {
	margin-left: 40px;
	font-size: 14px;
}
/*-----------------------------------SERVICE----------------*/

/*------------------------------BANK------------------*/

.bank {
 margin: 100px auto;
}
.col-6 {
	width: 100px;

}
.col-6 img{
	width: 100%;
	cursor:pointer;
	filter: grayscale(100%);
}
.col-6 img:hover {
	filter:grayscale(0);
}

/*------------FOOTERRRR------*/
.footer {
	background:#0f0f0a;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
	margin-top: 10%;

}
.footer p{
	color: #8a8a8a;

}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex:1;
	text-align: center;

}
.footer-col-2 img{
	width: 180px;
	margin-bottom:20px;
}
.footer-col-4{
	flex-basis: 12%;
	text-align: center;

}
ul {
	list-style: none;
}

.apps img{
	width: 90px;
	margin-top: 20px;
}
.apps:hover {
	transform: translateY(-5px);
}
.footer-col-4{
	margin-left: 30px;
}
.footer-col-4 a {
	font-size:30px;
	text-align: center;
	width: 50px;
	color: #fff;
	float: left;


}
.footer hr{
	border:none;
	background: #b5b5b5;
	height: 1px;
	margin:20px 0;
}
.copyright {
	text-align: center;
}
.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}
/*---------------------------BAGIAN SUMMARECON1.HTML------------*/
.single-product {
	margin-top: 100px;

}
.single-product .col-2 img {
	padding: 0;
}
.single-product .col-2  {
	padding: 20px;
}
.single-product h4{
	font-size: 20px;
	font-weight: bold;
}
.single-product h1 {
	line-height: 45px;
}
.small-img-row {
	display: flex;
	justify-content: space-between;
}
.detail {
	flex-basis: 50%;
}

/*---------------------------PAGE LOGIN----------------*/
..account-page .container {
	margin-bottom: 40px;
	margin-top: 30px;
}
.account-page {
	margin-top:30px;
	padding: 50px 0;
}
.form-container {
	background: #fff;
	width: 300px;
	height: 450px;
	position: relative;
	text-align: center;
	padding: 40px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0.1);
	overflow:hidden;
}
.form-container span {
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: inline-block;
}
.form-btn {
	display: inline-block;
}

.form-container form {
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
	

}
form  input {
	width: 100%;
	height: 30px;
	margin: 15px 0;
	padding: 0 10px;
	border: 1px solid #ccc;

}
form .btn {
	width: 100%;
	border:none;
	cursor: pointer;
	margin: 10px 0;

}
form a{
	font-size: 10px;
	text-align: center;
}
form .btn:focus{
	outline: none;
}
#LoginForm {
	left: -300px;
}
#RegForm {
	left: 0;
}
#Indicator {
	width: 100px;
	border:none;
	background: #ff523b;
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;

}

/*---------------------------------------------------------BAGIAN RUMAH DIJUAL------------------------------*/

.rumahdijual {
	width: 900px;
	height: 320px;
	align-content: left;
	margin-top: 30px;

}

.rumahdijual  .img2 {
	max-width: 90%;
	padding:30px 10px;

}
.rumahdijual .col-2 img {
	padding: 0;
	position: relative;
}
.rumahdijual .col-2  {
	padding: 30px;
}
.rumahdijual h4{
	font-size: 18px;
	line-height: 15px;
	font-weight: bold;
}
.rumahdijual p{
	font-size: 14px;
}
.rumahdijual h2{
	font-size: 30px;
	line-height: 50px;
}

.contact-box {
	background-image: #fff;
	display: flex;
}
.contact-left {
	flex-basis: 60%;
	padding: 40px 60px;

}
.contact-right {
	flex-basis: 40%;
	padding: 40px;
	background-color: #ebebe0;
	color: black;
}

.second-container {
	width: 100%;
	margin: 60px auto;
}
.second-container .col-2 {
	display: flex;
	flex-basis: 90%;
}
.contact-box {
	background-color: #fff;
	display: flex;
	border: 1px solid black;
}
.contact-left {
	flex-basis: 100%;
	padding: 30px 100px;
}
.contact-right {
	flex-basis: 40%;
	padding: 30px;
	background-color: #d6d6c2;
	color: #fff;
}
.second-container p{
	margin-bottom:40px;

}
.input-row2 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

}
.input-row2 .input-group {
	flex-basis: 45%;

}
input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
textarea {
	width: 100%;
	border:1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}
label {
	margin-bottom: 6px;
	width: 200px;
	display: block;
	color: #1c00b5;
}
button {
	background: red;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 35px;
	border-radius: 30px;margin-top: 20px;
	box-shadow:0px 5px 15px 0px rgba(28, 0, 181, 0.3) ;
	transition: background 0.5s;
}
button:hover {
	background:#b30000;
}
.contact-left h3{
	color: #1c00b5;
	font-weight: 600;
	margin-bottom: 20px;
}
.contact-right h3{
	font-weight: 600;
	margin-bottom: 20px;
	cursor: pointer;
}
.page-btn {
	margin: 30px 20px 80px;
}
.page-btn span {
	display: inline-block;
	border: 1px solid red;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover {
	background: red;
	color: #fff;
}
.aktif{
	background: red;
	color: #fff;
}
/*---------------------------------------------------------BAGIAN SEARCHING------------------------------*/
.btn-search {
  color: #d50000;
  float: right;
  width: 48px;
  height: 48px;
  font-size: 25px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-search :hover{
	color: black;
	font-size: 27px;
}
.col-2 h1{
	font-size: 50px;
	white-space: nowrap;
	overflow: hidden;
	animation:typingAnim 3s steps(23);

}
@keyframes typingAnim {
	from {width: 0;}
	to {width: 100%;}
}



/*---------------------------------------------------------BAWAH VIDEO YANG MUNGKIN ANDA SUKA------------------------------*/

@keyframes loading{
	100% {
		transform: rotate(360deg);
	}
}



/*------------MENU PAKE MEDIA QUERY---------*/

 @media only screen and (max-width: 800px) {

 	nav ul {
 		position: absolute;
 		top: 70px;
 		left: 0;
 		background-color: #333;
 		width: 100%;
 		overflow: hidden;
 		transition: max-height 0.5s;

 	}
 	.col-1 h1 {
 		font-size: 20px;
 		text-align: center;


 	}
 	nav ul li {
 		display: block;
 		margin-right: 50px;
 		margin-top: 10px;
 		margin-bottom: 10px;
 	}
 	nav ul li a{
 		color: #fff;

 	}
 	.menu-icon {
 		display: block;
 		cursor: pointer;
 	}
 	.col-2 h1{
 		font-size: 40px;
 	}
 }


 @media only screen and (max-width: 800px) {
 	.row {
 		text-align: center;
 	}
 	.col-2,.col-3, .col-4 {
 		flex-basis: 100%
 	}
 	.single-product .row{
 		text-align: left;

 	}
 	.single-product .col-2 {
 		padding: 20px 0;
 	} 
 	.single-product h1 {
 		font-size: 26px;
 		line-height: 32px;
 	}
 	.single-product .btn {
 	padding: 8px 30px;
	margin: 30px 0;
 	}
 	.second-container {
 		text-align: center;
 		flex-basis: 100%;
 	}
 	.second-container .col-2 {
 		display: block;
 		flex-basis: 100%;
 	}
 	.rumahdijual .col-2 {
 		display: block;
 	}
 	.title3 {
 		font-size: 12px;
 	}
 	textarea {
	width:100%;
}
	label {
	margin-bottom: 6px;
	width: 100px;
	}
	iframe {
		display: block;
		width: 100%;
		height: 300px;
	}
	table img {
		width: 50px;
		height: 50px;
	}
